<h1>Create a Goat</h1>

<%= form_for @goat do |f| %>
    <%= f.label :name%>
   <%= f.text_field :name %>
   <br/>
   <%= f.label :age%>
   <%= f.text_field :age %>
   <br/>

  <%= f.submit %>
<% end %>