<h1> Make A New Goat! </h1>
<%= form_for(@goat) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <br>
  <%= f.label :person_id %>
  <%= f.text_field :person_id %>
  <br>
  <%= f.submit %>
  <% end %>