<h1>Adding New People</h1>

<%= form_for @person do | p | %>
    <%= p.label :name %>
    <%= p.text_field :name %>
    <br/>
    <%= p.label :age %>
    <%= p.text_field :age %>
    <br/>
    <%= p.submit %>

    <% end %>